// ----- Variables / Paths

// ----- Paths for production (comment out during development)
//$localFontBase    : "/_common/fonts/";
// $localFontBase    : "https://static1.webedia.fr/fonts/";
// $imgBaseUrl       : "/_common/images";
// $icomoon-font-path: "/_common/fonts/svg-font";


// ----- Paths for development (comment out on production server)
$localFontBase       : "/assets/fonts/";
$imgBaseUrl          : "/assets/images";
$icomoon-font-path   : "/assets/fonts/svg-font";
