//----- Variables / Typography

//------FONT-FACE

// Examples
// main path to font directory is defined at src/scss/mixins/_m--font-face.scss
// @include fontFace (FontName, fontFolder, 400, normal, <formats>(ex: woff ttf svg));
@include fontFace(Roboto-Regular, Roboto-Regular, 400, normal, ttf);
@include fontFace(Roboto-Italic, Roboto-Italic, 400, normal, ttf);

//------FONT FAMILY VARIBALE
$fontDefault             : Arial, sans-serif;

// Examples
// $ff == $font-family
$ff-main-regular         : 'Roboto-Regular', $fontDefault;
$ff-main-italic          : 'Roboto-Italic', $fontDefault;

//----- Font size
$font-size-base         : 10px;

//------GLOBAL FONT SETTINGS
html {
  @include font-size-vw($font-size-base, $font-size-base, $font-size-base);
}
body {
    font-family: $ff-main-regular;
    -webkit-font-smoothing: antialiased;

    &.fixed {
      @include breakpoint(phone) {
        overflow: hidden;
      }
    }
}

h1 {}
h2 {}
a {
    text-decoration: none;
}
p {}
